<footer>
    <a href="https://github.com/destroyer22719" title="GitHub Profile"target="_blank"><img src="images/icons/github.png" alt="GitHub"></a>
    <a href="mailto:nathan.cai.ca@gmail.com" title="nathan.cai.ca@gmail.com"><img src="images/icons/email.png" alt="email"></a>
    <a href="https://www.linkedin.com/in/nathan-cai-78553a1b6/" title="Linkedin" target="_blank" ><img src="images/icons/linkedin.png" alt="linkedin"></a>
    <a href="https://nathancai.medium.com/" title="Blogs" target="_blank" ><img src="images/icons/blogs.png" alt="blogs"></a>
    <a href="https://github.com/destroyer22719/My_Website" title="View Source Code" target="_blank"><img src="images/icons/sourcecode.png" alt="Source Code"></a>
</footer>
