<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('includes/nav')%>
    <header>
        <h1><mark>Introduction</mark></h1>
        <p><mark>Hello my name is Nathan Cai, I'm in grade 11. I love computers, computer science, 
        and  especially programming. <br>I am self taught in many differnet programming skills and knowledge 
        <br> and in this website I'd like to share it with you!</mark></p>    
    </header>
    <main>
        <h2>Skills and Knowledge:</h2>
        <div id="knowledge">
            <img class="image-item" src="https://bit.ly/32WI4gn">
            <img  class="image-item" src="https://bit.ly/31ZSX1m">
            <img class="image-item"src="https://bit.ly/3gUXDtH">
            <img class="image-item"src="https://bit.ly/3lT8wQo">
            <img class="image-item"src="https://bit.ly/2Gooulm">
            <img class="image-item"src="https://bit.ly/2EWLnvO">
            <img class="image-item" src="https://bit.ly/2F6ZVbU">
        </div>
    </main>
</body>
</html>