<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <%- include('includes/nav')%>
    <header>
        <br>
        <h1><mark>Nathan Cai</mark></h1>
        <p><mark>I am a self taught programmer, I am profficient in JavaScript and JavaScript technologies such as NodeJS, React, and jQuery. I love learning new things and help others learn new things.
          My goal is a career in Full Stack Software Development when I grow up. <br><br> I am in grade 11 and I live in Toronto, Ontario, Canada. <br><br>To contact me by email: nathan.cai.ca@gmail.com</mark></p>    
    </header>
    <main>
        <h2>Skills:</h2>
        <div id="knowledge">
            <a target="_blank" href="/projects?tech=javascript">
              <div class="knowledge-item">
                <img src="images/icons/javascript.png" alt="JavaScript">
                <div class="icon" id="JavaScript" hidden >JavaScript</div>
              </div>      
            </a>
            <a target="_blank" href="/projects?tech=html">
              <div>
                <img src="images/icons/html.png" alt="HTML">
                <div class="icon" id="HTML" hidden>HTML</div>
              </div>
            </a>
            <a target="_blank" href="/projects?tech=css">
              <div>
                <img src="images/icons/css.png" alt="CSS">
                <div class="icon" id="CSS" hidden>CSS</div>
              </div>
            </a>
            </a>
            <a target="_blank" href="/projects?tech=nodejs">
              <div>
                <img src="images/icons/nodejs.png" alt="NodeJS">
                <div class="icon" id="NodeJS" hidden>NodeJS</div>
            </div>
            </a>
            </a>
            <a target="_blank" href="/projects?tech=react">
              <div>
                <img src="images/icons/react.png" alt="React">
                <div class="icon" id="React" hidden>React</div>
              </div>
            </a>
            <a target="_blank" href="/projects?tech=mongodb">
              <div>
                <img src="images/icons/mongodb.png" alt="MongoDB">
                <div class="icon" id="MongoDB" hidden>MongoDB</div>
              </div>
            </a>
            <a target="_blank" href="/projects?tech=jquery">
              <div>
                <img src="images/icons/jquery.png" alt="JQuery">
                <div class="icon" id="JQuery" hidden >JQuery</div>
            </div>
        </div>
        <div id="text">
        </div>
    </main>
    <%- include('includes/footer')%>
    <script>
        let hoverItem;
        $("#knowledge > a> div > img").hover(function(){
            const id = $(this).attr("alt")
            $(`#${id}`).attr("hidden",false)
        },function(){
            const id = $(this).attr("alt")
            $(`#${id}`).attr("hidden",true)
        })
    </script>
</body>
</html>
