<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <%- include('includes/nav')%>
    <header>
        <h1><mark>Introduction</mark></h1>
        <p><mark>Hello my name is Nathan Cai, I'm in grade 11. I love computers, computer science, 
        and  especially programming. <br>I am self taught in many differnet programming skills and knowledge 
        <br> and in this website I'd like to share it with you!</mark></p>    
    </header>
    <main>
        <h2>Skills and Knowledge:</h2>
        <div id="knowledge">
            <div class="knowledge-item">
                <img src="images/icons/javascript.png" alt="JavaScript">
                <div class="icon" id="JavaScript" hidden >JavaScript</div>

            </div>
            <div>
                <img src="images/icons/html.png" alt="HTML">
                <div class="icon" id="HTML" hidden>HTML</div>
            </div>
            <div>
                <img src="images/icons/css.webp" alt="CSS">
                <div class="icon" id="CSS" hidden>CSS</div>

            </div>
            <div>
                <img src="images/icons/jquery.webp" alt="JQuery">
                <div class="icon" id="JQuery" hidden >JQuery</div>
            </div>
            <div>
                <img src="images/icons/nodejs.webp" alt="NodeJS">
                <div class="icon" id="NodeJS" hidden>NodeJS</div>

            </div>
            <div>
                <img src="images/icons/angular.webp" alt="Angular">
                <div class="icon" id="Angular" hidden>Angular</div>
            </div>
            <div>
                <img src="images/icons/github.png" alt="GitHub">
                <div class="icon" id="GitHub" hidden>GitHub</div>
            </div>
        </div>
        <div id="text">
        </div>
    </main>
    <%- include('includes/footer')%>
    <script>
        let hoverItem;
        $("#knowledge > div > img").hover(function(){
            console.log('hovered')
            const id = $(this).attr("alt")
            $(`#${id}`).attr("hidden",false)
        },function(){
            console.log('mouse left')
            const id = $(this).attr("alt")
            $(`#${id}`).attr("hidden",true)
        })
        
    </script>
</body>
</html>
