body{
    margin:0px;
    text-align: center;
}
nav {
    display:flex;
    height:100px;
    width: 100%;
    background-color: rgb(30, 30, 30);
}
a {
    text-decoration: none;
}
nav > a {
    padding:40px;
    line-height: 50px;
    font-size: 20px;
    color:white;
    text-align: center;
    flex-grow: 1;
}
nav > a:hover {
    color:rgb(175, 0, 255);
    border-bottom:5px solid rgb(175, 0, 255)
}
header{
    width: 100%;
    background-image: url('https://bit.ly/3i1gy7t');
    height: 300px;
    background-repeat: no-repeat;
    font-size: 30px;
}
mark{
    background-color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Lucida Console", Monaco, monospace;
}
h1{
    margin-top: 0px;
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}

#knowledge{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#knowledge > img{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
}
#text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
    margin-bottom: 40px;
}
#text > div{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    line-height: 60px;
    width: 150px;
    height: 70px;
}
.hovered {
    width: 150px;
    background-color: rgb(30, 30, 30);
    font-size: 30px;
    border-radius: 5px;
}
footer {
    margin-top: 30px;
    padding:25px;
    width: 100%;
    background-color: rgb(30, 30, 30);

}
footer > * {
    color: white;
    font-size: 30px;
    display: inline;
}
footer > h4> a {
    color: white;
}
.projects {
    width:90%;
    height: 500px;
    background-color: rgb(200, 200, 200);
    border:3px solid rgb(125, 125,125);
    border-radius: 5px;
    margin: 0 auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.projects > h3{
    overflow-wrap: break-word;
    text-transform: capitalize;
}
.projectImage {
    width:500px;
}
.projectDisplay {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.projectDisplayText {
    text-align: left;
    font-size: 15px;
    width:200px;
    border:3px solid rgb(125, 125,125);
    margin-left: 30px;
}
.projects > div > a {
    color:black;
    font-size: 20px;
}
.projects > div > a:hover {
    text-decoration: underline;
}